html,
body {
  font-size: 18px;
  line-height: 1.38889em;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
h5,h6 {
  font-size: 1em;
}


p {
  margin: 0 0 1.38889em 0;
}

ul,ol {
  margin: 0 0 1.38889em 0;
  padding: 0 0 0 2em;
}
