.button {
  display: block;
  width: auto;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #bbb;
  background: #ddd;
  transition: background 0.15s;
  padding: 0.5em 0.75em;
  border-radius: 8px;
  color: #000;
  text-decoration: none;
  font-weight: normal;
  &:hover {
    background: #bbb;
  }
}

.button--small {
  padding: 0.25em 0.5em;
}




.dropbutton-wrapper {

  .dropbutton-widget {
    display: block;
    width: auto;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #bbb;
    background: #eee;
    transition: background 0.15s;
    padding: 0.2em 0.5em;
    border-radius: 8px;

    font-weight: normal;
    &:hover {

      .dropbutton-toggle button {
        background: #bbb;
      }
      //
    }
  }

  .dropbutton-toggle button {
    border-radius: 0px 8px 8px 0px
  }

  a {
    color: #000;
    text-decoration: none;
  }

}
